body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/047/original/v1070-05.jpg?1686935951");
  background-size: cover;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 16px;
  font-weight: 300;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
  font-size: small;
}

.weather-fraim-wrap {
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: rgba(247, 246, 244, 0.3);
    color: #050505;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overwiev {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-top: -8px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 44px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .unit {
  position: relative;
  font-size: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temperature {
  font-size: 14px;
}

.temp-max {
  font-weight: bold;
}
